body {
    padding-top: 50px;
}

#top-navbar {
    background-color: #CA9D88;
}

.white {
    !important; color: #ffffff;
}

.left-div {
    margin: 2% auto auto auto;
}

.firstImage {
    margin: 2% auto -35% auto;
}

.number {
    color: inherit;
}

.number:hover {
    text-decoration: none;
    color: inherit;
}